#pageContent
{
	margin-top:2.5%
}

#loginContainer
{
	margin-top:20%;
}

.col-xs-12 .col-sm-10
{
	margin-top:1%;
}

.center_text
{
	text-align:center;
}

.float_right
{
	float:right;
}

.top_offset
{
margin-top:1em;
}

.form_footer
{
	margin-top:1em;
}

.md_text_size
{
	font-size:1.15em;
}

.adminSubmitBtn
{
	margin-left:35%;
	margin-top:2%;
	margin-bottom:2.5%;
}

textarea
{
	resize:none;
	overflow: scroll;
}

sup
{
	font-size:1.5em;
}

.bottom_spacing
{
	margin-bottom:2%;
}

.top_spacing
{
	margin-top:2%;
}

.admin-search-btn
{
	font-size:16px;
}

tbody{
	height:100%;
	overflow-y:auto;
}

.checkbox {
	margin-top: 10px !Important;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../../fonts/glyphicons-halflings-regular.eot');
  src: url('../../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

@media only screen and (min-width: 769px) {
.hide-on-sm-and-up {
    display: none !important;
  }
}

@media only screen and (max-width: 768px) {
.hide-on-xs-only, .hide-on-sm-and-down {
    display: none !important;
  }